# .htaccess main domain to subfolder redirect
RewriteEngine on

RewriteCond %{HTTP_HOST} ^(www.)?lajanciadev.com$
RewriteCond %{REQUEST_URI} !^/dist/

RewriteCond %{index.html} !-f
RewriteCond %{index.html} !-d

RewriteRule ^(.*)$ /dist/$1

RewriteCond %{HTTP_HOST} ^(www.)?lajanciadev.com$

RewriteRule ^(/)?$ dist/index.html [L]
