body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: orange;
  margin: 0;
  padding: 0;
}
.link {
  position: absolute;
  display: block;
  z-index: 100;
  top: 5em;
  left: 10em;
  transform: translateX(-50%);
  font-weight: bold;
}
